{% load cart_tags %}
<table class="table table-bordered">
   <thead>
      <tr>
         <th colspan="3" class="text-center">
            Carrito de Compras
         </th>
      </tr>
      <tr>
         <th>Marca</th>
         <th>Cantidad</th>
         <th>Opciones</th>
      </tr>
   </thead>
   <tbody>
      {% if request.session.cart.items %}
         {% for key, value in request.session.cart.items %}
            <tr class="text-center">
               <td>{{ value.name }}</td>
               <td>{{ value.quantity }}</td>
               <td>
                  {% block add_decrement %}
                  <a href="{% url 'cart:add_gpu' value.product_id %}"
                     class="btn btn-sm btn-success">
                     +
                  </a>
                  <a href="{% url 'cart:decrement_gpu' value.product_id %}"
                     class="ml-2 btn-sm btn btn-danger">
                     -
                  </a>
                  {% endblock %}
                  <hr>
                  Total {{ value.price|multiply:value.quantity|money_format:"$" }}
               </td>
            
            </tr>
         {% endfor %}
      
      {% else %}
         <tr>
            <td colspan="3">
               <div class="alert alert-danger text-center">
                  No tienes productos en el carrito
               </div>
            </td>
         </tr>
      {% endif %}
   </tbody>
   <tfoot>
      <tr>
         <td colspan="3">
            Total: {{ cart_total_amount|money_format:"$"}}
         </td>
      </tr>
   </tfoot>
</table>