{% extends "base_generic.html" %}
{% load cart_tags %}
{% block title %}Placas Madres{% endblock %}
{% block content %}

<body style="background-color: #f8f8f8;">
   <section class="jumbotron text-center">
      <style>
         section{
                  background-image: url("/static/fotos/bannerProductos.jpg");
               }
      </style>
      <div class="container-fluid">
         <h1 style="font-size: 6vw; color: white;">
               Placas Madres
         </h1>
      </div>
   </section>

   <!--Seguimiento-->
   <div class="container" id="seguimiento">
      <div class="col-md-3">
         <ol class="breadcrumb breadcrumb-extend">
               <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">
                     Inicio
                  </a>
               </li>
               <li class="breadcrumb-item active">
                  Placas Madres
               </li>
         </ol>
      </div>
   </div>

   {% if perms.app.view_placas_madre %}
   <div class="my-2 ml-5 my-lg-0" style="text-align: center;">
      <a class="btn btn-warning btn-sm" href="{% url 'placas' %}" style="font-size: 20px;">
         Lista de Productos
      </a>
   {% endif %}
   {% if user.is_authenticated %}
      <div class="col-2 float-right">
         {% include "cart/widget.html" %}
      </div>
   {% else %}
      <p style="font-size: 25px;" class="text-center">
         Para poder agregar al carrito
         debes <a href="{% url 'registro' %}">registrarte</a>
         o <a href="{% url 'login' %}">Iniciar Sesion</a> 
      </p>
   {% endif %}
   </div>


   <div class="album py-5 ">
      <div class="container " >
         {% if productoPlaca %}
         <div  class="row">
            {% for product in productoPlaca %}
               <div  class="col-md-4">
                  <div class="card mb-4 shadow-sm ">
                     <a href="{% url 'placas-detail' product.id %}">
                        <img  src="{{ product.imagen.url }}"/>
                     </a>
                     <div class="card-body">
                        <p class="card-text">
                           <b >
                              Marca:
                           </b>
                              {{ product.marca }}
                           <br>
                           <b>
                              Modelo:
                           </b>
                              {{ product.modelo }}
                              <br>
                           <b>
                              Formato:
                           </b>
                              {{ product.formato }}
                              <br>
                           <b>
                              Plataforma:
                           </b>
                              {{ product.plataforma }}
                              <br>
                        </p>
                        <h3>
                           ${{ product.precio }}
                        </h3>
                        <small class="text-muted ml-2">
                           stock:
                           <b>
                                 {{ product.stock }}
                           </b>
                        </small>
                     </div>
                     <div class=" card-footer text-center  mb-3  btn-group">
                        <a class="btn btn-sm btn-info" 
                              href="{% url 'placas-detail' product.id %}">
                           Detalles
                        </a>
                        {% if user.is_authenticated %}
                           <a href="{% url 'cart:add_product' product.id %}"
                              class="btn btn-sm btn-success"
                           >
                              Agregar a carrito
                           </a>
                        {% endif %}
                     </div>      
                  </div>
               </div>
            {% endfor %}
            </div>
         </div>
         {% else %}
            <p>
               No hay productos
            </p>
         {% endif %}    
      </div>
   </div>
</body>
{% endblock %}
