{% extends "base_generic.html" %}

{% block title %}Tarjetas de Video{% endblock %}

{% block content %}

<body style="background-color: #f8f8f8;">
   <section class="jumbotron text-center">
      <style>
         section {
               background-image: url("/static/fotos/bannerProductos.jpg");
         }
      </style>
      <div class="container-fluid">
         <h1 style="font-size: 6vw; color: white;">
               Tarjetas de Video
         </h1>
      </div>
   </section>
   <!--Seguimiento-->
   <div class="container" id="seguimiento">
      <div class="col-md-3">
         <ol class="breadcrumb breadcrumb-extend">
               <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">
                     Inicio
                  </a>
               </li>
               <li class="breadcrumb-item active">
                  Tarjetas de Video
               </li>
         </ol>
      </div>
   </div>
   {% if perms.app.view_gpu %}
   <div class="my-2 my-lg-0" style="text-align: center;">
      <a class="btn btn-warning btn-sm" href="{% url 'gpus' %}" style="font-size: 20px;">
         Lista de Productos
      </a>
   {% endif %}
   {% if user.is_authenticated %}
   <div class="col-2 ml-5 float-right">
      {% include "cart/widget_gpu.html" %}
   </div>
   {% else %}
      <p style="font-size: 25px;" class="text-center">
         Para poder agregar al carrito
         debes <a href="{% url 'registro' %}">registrarte</a>
         o <a href="{% url 'login' %}">Iniciar Sesion</a> 
      </p>
   {% endif %}
   </div>



   <div class="album py-5">
      <div class="container">
         {% if productoGpu %}
         <div class="row">
            {% for product in productoGpu %}
            <div class=" col-md-4">
               <div class="card mb-4 shadow-sm">
                  <a href="{% url 'gpu-detail' product.id %}">
                        <img class="producto" src="{{ product.imagen.url }}" />
                  </a>
                  <div class="card-body">
                     <p class="card-text">
                        <b>
                           Marca:
                        </b>
                        {{ product.marca }}
                        <br>
                        <b>
                           Modelo:
                        </b>
                        {{ product.modelo }}
                        <br>
                        <b>
                           Plataforma:
                        </b>
                        {{ product.plataforma }}
                        <br>
                        <b>
                           Memoria:
                        </b>
                        {{ product.memoria }}
                        <br>
                        <b>
                           Frecuencia:
                        </b>
                        {{ product.frecuencia }}
                     </p>
                     <h3>
                        ${{ product.precio }}
                     </h3>
                     <small class="text-muted ml-2">
                        stock:
                        <b>
                              {{ product.stock }}
                        </b>
                     </small>
                  </div>
                  <div class="card-footer text-center mb-3 btn-group">
                     <a href="{% url 'gpu-detail' product.id %}"
                           class="btn btn-sm btn-info">
                        Detalles
                     </a>
                     {% if user.is_authenticated %}
                     <a href="{% url 'cart:add_gpu' product.id %}"
                           class="btn btn-sm btn-success">
                        Agregar a carrito
                     </a>
                     {% endif %}
                  </div>
               </div>
            </div>
            {% endfor %}
         </div>
         {% else %}
            <p>
               No hay productos
            </p>
         {% endif %}
      </div>
   </div>

</body>
{% endblock %}