{% extends "base_generic.html" %}
{% block title %}Lista de Procesadores{% endblock %}
{% block content %}
<br>
    <head>
        <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" rel="stylesheet">
        </link>
    </head>
    <body>
        <!--breadcrumb-->
        <div class="container" id="seguimiento">
            <div class="col-md-5">
                <ol class="breadcrumb breadcrumb-extend">
                    <li class="breadcrumb-item">
                        <a href="{% url 'index' %}">
                            Inicio
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'procesador' %}">
                            Procesadores
                        </a>
                    </li>
                    <li class="breadcrumb-item active">
                        Lista de productos
                    </li>
                </ol>
            </div>
        </div>
        <!--listado de productos-->
        <div class="container mt-5">
            <div class="card">
                <div class="card-body">
                    <h1 style="font-family: fuente8bits;font-size: 3vw; float:left;">
                        Lista de productos
                    </h1>
                    <a class="btn btn-success btn-sm mt-4" href="{% url 'nuevo_procesador' %}" style="float:right;">
                        Ingresar Producto
                    </a>
                    {% if procesadore_list %}
                    <table class="table table-striped table-hover table-responsive-sm">
                        <tr style="font-size: 20px;">
                            <th>
                                Marca
                            </th>
                            <th>
                                Modelo
                            </th>
                            <th>
                                Frecuencia
                            </th>
                            <th>
                                Socket
                            </th>
                            <th>
                                Stock
                            </th>
                            <th>
                                Precio
                            </th>
                            <th>
                                Opciones
                            </th>
                            <th>
                                Detalles
                            </th>
                        </tr>
                        {% for proce in procesadore_list %}
                        <tr>
                            <td>
                                {{ proce.marca }}
                            </td>
                            <td>
                                {{ proce.modelo }}
                            </td>
                            <td>
                                {{ proce.frecuencia }}
                            </td>
                            <td>
                                {{ proce.socket }}
                            </td>
                            <td>
                                {{ proce.stock }}
                            </td>
                            <td>
                                {{ proce.precio}}
                            </td>
                            <td>
                                <a class="btn btn-info btn-sm" href="{% url 'modificar_procesador' proce.id %}">
                                    Modificar
                                </a>
                                <a class="btn btn-danger btn-sm" href="{% url 'eliminar_procesador' proce.id %}">
                                    Eliminar
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'procesadores-detail' proce.id %}">
                                    <i class="fa" style="font-size: 24px;">
                                        
                                    </i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% else %}
                    <p>
                        No hay productos
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
    {% endblock %}
</br>