{% extends "base_generic.html" %}
{% block title %}Modificar producto{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<body>
   <div class="container-fluid">
      <div class="form">
         <div class="row justify-content-center mt-5 pt-5">
            <div class="col-md-7">
               <h1 style="font-family: fuente8bits;">
                  Modificar Producto
               </h1>
               <hr class="bg-info">
               <p class="pb-0 mb-0">
                  Aqui debes rellenar los datos del producto que
                  quieras modificar o actualizar
               </p>
               <p class="text-danger small pt-0 nt-0">
                  *Todos los campos son obligatorios
               </p>
               <form method="POST" enctype="multipart/form-data"
                     class="post-form">
                  {% csrf_token %}
                  <div class="row form-group">
                     <div class="col-md-8">
                        <table style="font-size: 15px;">
                           {{ monitorForm | crispy }}
                        </table>
                        <div class="d-flex justify-content-left">
                           <button class="btn btn-success ml-3" type="submit"
                                    style="font-size: 25px;">
                              Ingresar
                           </button>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</body>