{% extends "base_generic.html" %}
{% block title %}Lista Almacenamiento{% endblock %}
{% block content %}
<br>
<head>
   <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" 
         integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" 
         rel="stylesheet">
   </link>
</head>
<body>
   <div class="container" id="seguimiento">
      <div class="col-md-5">
            <ol class="breadcrumb breadcrumb-extend">
               <li class="breadcrumb-item">
                  <a href="{% url 'index' %}">
                        Inicio
                  </a>
               </li>
               <li class="breadcrumb-item">
                  <a href="{% url 'alma'">
                        Almacenamiento
                  </a>
               </li>
               <li class="breadcrumb-item active">
                  Lista de productos
               </li>
            </ol>
      </div>
   </div>
   <div class="container mt-5">
      <div class="card">
            <div class="card-body">
               <h1 style="font-family: fuente8bits; font-size: 3vw; float: left">
                  Lista de productos
               </h1>
               <a class="btn btn-success btn-sm mt-4" 
                     href="{% url 'nuevo_almacenamiento' %}" style="float: right;">
                  Ingresar Producto
               </a>
               {% if almacenamiento_list %}
               <table class="table table-striped table-hover table-responsive-sm">
                  <tr style="font-size: 20px;">
                        <th>
                           Marca
                        </th>
                        <th>
                           Modelo
                        </th>
                        <th>
                           Capacidad
                        </th>
                        <th>
                           Formato
                        </th>
                        <th>
                           Bus
                        </th>
                        <th>
                           Stock
                        </th>
                        <th>
                           Precio
                        </th>
                        <th>
                           Opciones
                        </th>
                        <th>
                           Detalles
                        </th>
                  </tr>
                  {% for alma in almacenamiento_list %}
                  <tr>
                        <td>
                           {{ alma.marca }}
                        </td>
                        <td>
                           {{ alma.modelo }}
                        </td>
                        <td>
                           {{ alma.capacidad }}
                        </td>
                        <td>
                           {{ alma.formato }}
                        </td>
                        <td>
                           {{ alma.bus }}
                        </td>
                        <td>
                           {{ alma.stock }}
                        </td>
                        <td>
                           ${{ alma.precio }}
                        </td>
                        <td>
                           <a class="btn btn-info btn-sm" href="{% url 'modificar_almacenamiento' alma.id %}">
                              Modificar
                           </a>
                           <a class="btn btn-danger btn-sm" href="{% url 'eliminar_almacenamiento' alma.id %}">
                              Eliminar
                           </a>
                        </td>
                        <td>
                           <a href="{% url 'almacenamiento-detail' alma.id %}">
                              <i class="fa" style="font-size: 24px;">
                                    
                              </i>
                           </a>
                        </td>
                  </tr>
                  {% endfor %}
               </table>
               {% else %}
               <p>
                  No hay productos
               </p>
               {% endif %}
            </div>
      </div>
   </div>
   <br>
      <br>
            <br>
            </br>
      </br>
   </br>
</body>
{% endblock %}