{% extends "base_generic.html" %}
{% block content %}
<body>
   <div class="container mt-5">
      <P style="font-family: fuente8bits; font-size: 25px;">
         Hemos enviado a tu correo las intrucciones para cambiar su contraseña.
         Si el mail no ha llegado aun, revisa tu bandeja de Spam
      </P>
      <a href="{% url 'index' %}" class="btn btn-success">
         Ir a Inicio
      </a>

      <a href="{% url 'login' %}" class="btn btn-warning">
         Ir a Iniciar Sesion
      </a>

   </div>
</body>


{% endblock %}